<html>
<head>
</head>
<body>
	<h1>Add a New Airport</h1>
<form action="/addairportAuth" method="POST">
	<input minlength="3" maxlength="3" type="text" name = "code" placeholder="airport code" required/> </br>
	<input type="text" name = "name" placeholder="airport name" required/></br>
	<input type="text" name = "city" placeholder="aiport city" required/></br>
	<input type="text" name = "country" placeholder="airport country" required/></br>
	<p>
	<label for="type">Airport Type</label></br>

	<label for="international">International</label>
	<input type="radio" name = "type" id="international" value="International" required/></br>
	<label for="domestic">Domestic</label>
	<input type="radio" name = "type" id="domestic" vaLue="Domestic" required/></br>
	<label for="both">Both</label>
	<input type="radio" name = "type" id="both" value="Both" required/></br>
	
	<p></p>
	<input type="submit" value = Create />
	<input type="reset">
	{% if error %}
		<p class="error"><strong>Error:</strong> {{error}}</p>
	{% endif %}
</form>

<a href="/staffhome">Go back</a>

</body>


</html>
