<!DOCTYPE html>
<html>

<head>
	<h1>This is the staff homepage</h1>
</head>

<body>
	<style type="text/css">
		table, th, td{
			border: 1px solid black;
		}
	</style>
	<table>
		<caption>Your Flights</caption>
		<th>Flight Number</th>
		<th>Departure Airport</th>
		<th>Arrival Airport</th>
		<th>Departure Date</th>
		<th>Arrival Date</th>
	{% for line in flightinfo %}
		<tr>
			<td>{{line['number']}}</td>
			<td>{{line['departure_airport']}}</td>
			<td>{{line['arrival_airport']}}</td>
			<td>{{line['departure_date']}}</td>
			<td>{{line['arrival_date']}}</td>
		</tr>
	{% endfor %}
	</table>
	<p></p>

	<a href="/createflight" >Create new flight</a>
	<p></p>
	<a href="/changestatus" >Change a flight status</a>
	<p></p>
	<a href="/addairport" >Add new airport</a>
	<p></p>
	<a href="/viewratings" >View flights ratings</a>
	<p></p>
	<a href="/viewcustomers">View frequent customers</a>
	<p></p>
	<a href="/viewrevenue">View revenue</a>
	<p></p>
	<a href="/topdestinations">View top destinations</a>
	<p></p>
	<a href="/stafflogout">Logout</a>

</body>

</html>
