<html>
<head>
	<h1>View Ratings and Comments of Flights</h1>
</head>
<body>


<style type="text/css">
	table, th, td{
		border: 1px solid black;
	}
</style>

<table>
	<th>Departure Date</th>
	<th>Flight Number</th>
	<th>Average Rating</th>
{% for line in flights %}
	<tr>
		<td>{{line['departure_date']}}</td>
		<td>{{line['flight_number']}}</td>
		<td>{{line['rating']}}</td>
	</tr>
{% endfor %}
</table>
<p></p>
<table>
	<th>Departure Date</th>
	<th>Flight Number</th>
	<th>Comment</th>
	<th>Rating</th>
{% for line in comments %}
	<tr>
		<td>{{line['departure_date']}}</td>
		<td>{{line['flight_number']}}</td>
		<td>{{line['comment']}}</td>
		<td>{{line['rating']}}</td>
	</tr>
{% endfor %}
</table>

<p></p>
<a href="/staffhome">Go back</a>

</body>


</html>
